
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/90cb4c962d.js" crossorigin="anonymous"></script>
    <title>Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="shortcut icon" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fpinterest-logo&psig=AOvVaw22TW8CAS83eiIiBFL2uZGN&ust=1717354506737000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKDCmKSKu4YDFQAAAAAdAAAAABAE" type="image/x-icon">


</head>
<body>

    <header>
        <nav class="nav-bar">

            <div>
                <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
            </div>
            <div>
                <a href="#">Home</a>
            </div>
            <div>
                <a href="/">Following</a>
            </div>

            <div class="buttons">
                <a href="/login" class="login">Log in</a>
                <a href="/register" class="signup">Sign Up</a>
        
                
              </div>
        

            <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <div>
                <a href="#"><i class="fas fa-bell fa-lg"></i></a>
            </div>
            <div>
                <a href="#"><i class="fas fa-comment-dots fa-lg"></i></a>
            </div>
            <div>
                <a href="#">N</a>
            </div>
            <div>
                <a href="#"><i class="fas fa-angle-down"></i></a>
            </div>

        </nav>
    </header>

    <main class="img-container">
        
        <div><img src="https://i.pinimg.com/236x/eb/5e/65/eb5e65935d9e1e15abe60824684d8223.jpg" alt="pinterest-image"></div>
        <div><img src="https://i.pinimg.com/236x/4e/58/82/4e58821f3cd8ee4edfd402dceb47b514.jpg" alt="pinterest-image"></div>
        <div><img src="https://i.pinimg.com/236x/31/b0/3f/31b03fbbf0b3ab926123f2262d43e1f6.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/85/66/c6/8566c6939d13ff2f5d7347840d1fff11.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/13/48/c4/1348c4d33ff5c50aeb6fc325233e402b.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/e3/34/e4/e334e44e5e83115559d77e9476b77847.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/60/55/b6/6055b6161c3b83971b5f90c580bb7e44.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/bc/f8/86/bcf88642a5f0ec893a29996cabaac25a.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/5a/79/16/5a7916897a6f325a788c9acd34859ba2.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/e2/4a/31/e24a317fe17853b7c70f50b62a24a70a.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/66/6a/15/666a15e3ea074420fe635085fba84da7.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/be/21/a7/be21a710fd2a990cfcfc36fd187a3433.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/5f/96/22/5f962259e7792840c0a05c254db9ed96.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/bb/64/97/bb649754ab29b2507c80764a885bde66.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/3a/87/fe/3a87fee36e280490ca06201dc557ed9a.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/e6/e2/9d/e6e29d50905e05d8e7b7d52d6271888e.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/60/88/c6/6088c6d412363813820b84df886fb5c1.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/27/b2/8b/27b28b6188dd21c1acbba423b5ed55dc.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/87/88/26/87882688ee3ca5387bb7b284abc5b6e7.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/3c/e9/cc/3ce9cc7b41dadff63f80b8faf2e1198a.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/a3/89/15/a38915370627b8661c8f89e25874bfcd.jpg" alt="">
            <p>17 Books to Read If ‘Twilight’ Is Your Guilty Pleasure</p>
        </div>
        <div><img src="https://i.pinimg.com/236x/38/3c/f3/383cf3da75399050ae70baa0acc9d738.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/8f/d6/56/8fd6562efabc174e4906ecfa3b016b53.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/71/d5/fc/71d5fc398f0ad62be16c0b151cb3fee5.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/4a/6c/85/4a6c8543978480b31823c58fca2bef70.jpg" alt="">
            <p>Image about vintage in travel the world by Maiken Vambeset</p>
        </div>
        <div><img src="https://i.pinimg.com/236x/aa/39/76/aa397642f3e6cd7135c56a3cf8bb3382.jpg" alt=""></div>
        <div><img src="https://i.pinimg.com/236x/ac/b3/80/acb38002b36caa022227c90968310696.jpg" alt=""></div>
    </main>
    
</body>
<script src="/javascripts/homepage.js"></script>
</html>